@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.button1 {
  display: flex;
  width: 186px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.button1 p {
  margin: auto;
  color: white;
}

.button2 {
  display: flex;
  width: 186px;
  height: 50px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.button2 p {
  margin: auto;
  color: white;
}

.new {
  display: flex;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: #99E2D0;
}
.new p {
  color: #008766;
  font-size: 14px;
  margin: auto;
}

.like {
  cursor: pointer;
}
.like i {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

input[type=checkbox]:checked + .like i:before {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.toggle-content {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 349px;
  height: 69px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
}
.toggle-content h3 {
  padding: 12px 0 0 15px;
  font-size: 18px;
}
.toggle-content .accompagnement {
  display: flex;
  justify-content: space-between;
}
.toggle-content .accompagnement p {
  padding: 5px 12px 15px 15px;
  font-size: 15.04px;
  transition: margin 0.5s;
}
.toggle-content .accompagnement p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.toggle-content .accompagnement p + p {
  font-weight: 700;
}
.toggle-content .add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  transition: width 0.5s;
  background: #99E2D0;
  height: 69px;
  border-radius: 0px 15px 15px 0px;
}
.toggle-content .add i {
  visibility: hidden;
  color: white;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + .toggle-content .accompagnement p + p {
  margin-right: 74px;
  transition: margin 0.5s;
}
input[type=checkbox]:checked + .toggle-content .add {
  transition: width 0.5s;
  width: 59px;
}
input[type=checkbox]:checked + .toggle-content .add i {
  visibility: visible;
}

header {
  margin: auto;
}
header nav {
  height: 63px;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header nav a {
  color: black;
  margin: auto 0;
  margin-left: 10px;
}
header nav h1 {
  font-size: 30px;
  font-family: "Shrikhand";
  font-weight: 400;
  margin: auto;
}
header img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  overflow: hidden;
}
header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
}
header .location i {
  color: #353535;
}
header .location p {
  margin-left: 17px;
}
header .explorer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
}
header .explorer h1 {
  margin-top: 39.5px;
  font-size: 24px;
  height: 68px;
}
header .explorer > p {
  font-size: 18px;
  color: #353535;
}
header .explorer .button1 {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 57px;
}

main .fonctionnement {
  max-width: 1440px;
  margin: auto;
}
main .fonctionnement h2 {
  margin-top: 50px;
  margin-left: 70px;
}
main .fonctionnement .content {
  display: flex;
}
main .fonctionnement .etapes {
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  width: 322.49px;
  height: 72.38px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
main .fonctionnement .etapes .number {
  position: absolute;
  left: -10px;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #9356DC;
}
main .fonctionnement .etapes .number p {
  font-size: 14.18px;
  margin: auto;
  color: white;
  font-weight: 700;
}
main .fonctionnement .etapes i {
  color: #7E7E7E;
  position: absolute;
  left: 33.47px;
}
main .fonctionnement .etapes:nth-child(4) i {
  color: #9356DC;
}
main .restaurants {
  background-color: #F6F6F6;
  max-width: 1440px;
  margin: auto;
  margin-top: 54px;
  border-radius: 25px;
  margin-bottom: 25px;
}
main .restaurants h2 {
  padding-top: 54px;
  margin-left: 70px;
}
main .restaurants .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 30px;
  padding-bottom: 70px;
}
main .restaurants .content a {
  color: black;
}
main .restaurants .content a .etablissement {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 490px;
  border-radius: 15px;
  background-color: white;
}
main .restaurants .content a .etablissement img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 180px;
}
main .restaurants .content a .etablissement .new {
  position: absolute;
  top: 15px;
  right: 15px;
}
main .restaurants .content a .etablissement .desc {
  margin-top: 16px;
  margin-left: 13px;
  padding-bottom: 12px;
}
main .restaurants .content a .etablissement .desc h3 {
  font-size: 18px;
}
main .restaurants .content a .etablissement .desc p {
  margin-top: 5px;
  font-size: 17px;
}
main .restaurants .content a .etablissement .desc .like {
  position: absolute;
  right: 10px;
  bottom: 15px;
}
main .carte {
  margin: auto;
  width: 375px;
  background-color: #F6F6F6;
  padding-bottom: 53px;
  position: relative;
  margin-top: -55px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
main .carte .titre {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .carte .titre h1 {
  margin-top: 32px;
  font-size: 28px;
  font-family: "Shrikhand";
  font-weight: 400;
}
main .carte .titre .like {
  margin-left: 20px;
  margin-top: 30px;
}
main .carte .titre-menu h3 {
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 13px;
  margin-top: 42px;
}
main .carte .titre-menu h3:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #99E2D0;
}
main .carte .menu {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
main .carte .menu .toggle-content {
  background-color: white;
}
main .carte .button1 {
  margin: auto;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .fonctionnement {
    flex-direction: column;
    width: 375px;
    margin: auto;
  }
  .fonctionnement .content {
    display: flex;
    flex-direction: column;
  }
  .restaurants {
    margin: auto;
    padding-bottom: 66px;
    display: flex;
    flex-direction: column;
  }
  .restaurants .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: auto;
    margin-top: 18px;
  }
}
@media (max-width: 1024px) {
  .fonctionnement {
    margin: auto;
  }
  .fonctionnement .etapes {
    width: auto;
  }
  .fonctionnement .etapes p {
    margin-left: 26px;
  }
}
@media (max-width: 1440px) {
  .fonctionnement {
    margin: auto;
  }
  .fonctionnement .etapes {
    width: auto;
  }
  .fonctionnement .etapes p {
    margin-left: 26px;
  }
}
footer {
  margin: auto;
  background-color: #353535;
  padding-bottom: 22px;
}
footer .container {
  display: flex;
  justify-content: right;
  width: 100%;
  margin: auto;
  padding-top: 57px;
  gap: 7px;
}
footer .container i {
  color: white;
}
footer .container a {
  color: white;
}
footer .container h4 {
  margin-right: 50px;
  align-items: center;
  font-family: "Shrikhand";
  font-weight: 400;
  color: white;
  margin-left: 16px;
  order: 4;
}
footer .container .partner i {
  margin-left: 7px;
}
footer .container .contact {
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */
