@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.button1 {
  display: flex;
  width: 186px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.button1 p {
  margin: auto;
  color: white;
}

.button2 {
  display: flex;
  width: 186px;
  height: 50px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.button2 p {
  margin: auto;
  color: white;
}

.new {
  display: flex;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: #99E2D0;
}
.new p {
  color: #008766;
  font-size: 14px;
  margin: auto;
}

.like {
  cursor: pointer;
}
.like i {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

input[type=checkbox]:checked + .like i:before {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.toggle-content {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 349px;
  height: 69px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
}
.toggle-content h3 {
  padding: 12px 0 0 15px;
  font-size: 18px;
}
.toggle-content .accompagnement {
  display: flex;
  justify-content: space-between;
}
.toggle-content .accompagnement p {
  padding: 5px 12px 15px 15px;
  font-size: 15.04px;
  transition: margin 0.5s;
}
.toggle-content .accompagnement p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.toggle-content .accompagnement p + p {
  font-weight: 700;
}
.toggle-content .add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  transition: width 0.5s;
  background: #99E2D0;
  height: 69px;
  border-radius: 0px 15px 15px 0px;
}
.toggle-content .add i {
  visibility: hidden;
  color: white;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + .toggle-content .accompagnement p + p {
  margin-right: 74px;
  transition: margin 0.5s;
}
input[type=checkbox]:checked + .toggle-content .add {
  transition: width 0.5s;
  width: 59px;
}
input[type=checkbox]:checked + .toggle-content .add i {
  visibility: visible;
}

header {
  margin: auto;
}
header nav {
  height: 63px;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header nav a {
  color: black;
  margin: auto 0;
  margin-left: 10px;
}
header nav h1 {
  font-size: 30px;
  font-family: "Shrikhand";
  font-weight: 400;
  margin: auto;
}
header img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  overflow: hidden;
}
header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
}
header .location i {
  color: #353535;
}
header .location p {
  margin-left: 17px;
}
header .explorer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
}
header .explorer h1 {
  margin-top: 39.5px;
  font-size: 24px;
  height: 68px;
}
header .explorer > p {
  font-size: 18px;
  color: #353535;
}
header .explorer .button1 {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 57px;
}
header .explorer .button1:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  cursor: pointer;
}

main .fonctionnement {
  display: flex;
  max-width: 1440px;
  margin: auto;
  justify-content: center;
  margin-bottom: 50px;
}
main .fonctionnement .content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
main .fonctionnement .content .step {
  gap: 37px;
  display: flex;
}
main .fonctionnement .etapes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  max-width: 322.49px;
  min-width: 300.49px;
  height: 72.38px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
main .fonctionnement .etapes .number {
  position: absolute;
  left: -10px;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #9356DC;
}
main .fonctionnement .etapes .number p {
  font-size: 14.18px;
  margin: auto;
  color: white;
  font-weight: 700;
}
main .fonctionnement .etapes i {
  color: #7E7E7E;
  position: absolute;
  left: 33.47px;
}
main .fonctionnement .etapes:nth-child(3) i {
  color: #9356DC;
}
main .restaurants {
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: #F3F3F3;
  max-width: 1440px;
}
main .restaurants .content {
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 945px;
  display: flex;
  flex-direction: column;
}
main .restaurants .content .restau {
  margin-top: 28px;
  gap: 80px;
  display: flex;
  flex-wrap: wrap;
}
main .restaurants .content .restau a {
  color: black;
}
main .restaurants .content .restau a .etablissement {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  border-radius: 15px;
  background-color: white;
}
main .restaurants .content .restau a .etablissement img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 180px;
}
main .restaurants .content .restau a .etablissement .new {
  position: absolute;
  top: 15px;
  right: 15px;
}
main .restaurants .content .restau a .etablissement .desc {
  margin-top: 16px;
  margin-left: 13px;
  padding-bottom: 12px;
}
main .restaurants .content .restau a .etablissement .desc h3 {
  font-size: 18px;
}
main .restaurants .content .restau a .etablissement .desc p {
  margin-top: 5px;
  font-size: 17px;
}
main .restaurants .content .restau a .etablissement .desc .like {
  position: absolute;
  right: 10px;
  bottom: 15px;
}
main .carte {
  margin: auto;
  width: 1055px;
  background-color: #F6F6F6;
  padding-bottom: 53px;
  position: relative;
  margin-top: -55px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
main .carte .titre {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .carte .titre h1 {
  margin-top: 32px;
  font-size: 28px;
  font-family: "Shrikhand";
  font-weight: 400;
}
main .carte .titre .like {
  margin-left: 20px;
  margin-top: 30px;
}
main .carte .content {
  width: 634px;
  margin: auto;
}
main .carte .content .titre-menu h3 {
  text-align: left;
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 42px;
}
main .carte .content .titre-menu h3:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #99E2D0;
}
main .carte .content .menu {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
main .carte .content .menu .toggle-content {
  background-color: white;
  width: 634px;
}
main .carte .button1 {
  margin: auto;
  margin-top: 40px;
}
main .carte .button1:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  cursor: pointer;
}

@media (max-width: 1024px) {
  main .fonctionnement .content .step {
    flex-direction: column;
  }
  main .restaurants .content .restau {
    flex-direction: column;
  }
  main .restaurants .content .restau a .etablissement {
    max-width: 340px;
  }
  main .carte {
    width: 600px;
  }
  main .carte .content {
    width: 349px;
  }
  main .carte .content .menu .toggle-content {
    width: 349px;
  }
}
@media (max-width: 768px) {
  main .carte {
    width: auto;
  }
  main .carte .content {
    max-width: 349x;
  }
  main .carte .content .menu {
    width: auto;
  }
}
footer {
  margin: auto;
  background-color: #353535;
  padding-bottom: 22px;
  margin-top: 30px;
}
footer .container {
  padding-top: 64px;
  display: flex;
  justify-content: right;
  width: 100%;
  gap: 7px;
}
footer .container i {
  color: white;
}
footer .container a {
  color: white;
}
footer .container a:hover {
  text-decoration: underline;
}
footer .container h4 {
  margin-right: 50px;
  align-items: center;
  font-family: "Shrikhand";
  font-weight: 400;
  color: white;
  margin-left: 16px;
  order: 4;
}
footer .container .partner {
  display: flex;
}
footer .container .partner i {
  margin-left: 7px;
}
footer .container .contact {
  margin-left: 15px;
}

@media (max-width: 768px) {
  footer .container {
    padding-top: 22px;
    margin-left: 25px;
    flex-direction: column;
    width: auto;
  }
  footer .container h4 {
    order: 0;
  }
  footer .container .partner {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 7px;
  }
  footer .container .partner div {
    margin-top: 7px;
  }
  footer .container .contact {
    display: flex;
    flex-direction: column;
  }
  footer .container .contact a {
    margin-top: 7px;
  }
}
.background-loader {
  position: fixed;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: hidden 1s;
  animation-fill-mode: forwards;
}
.background-loader .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  overflow: hidden;
  text-align: center;
  animation-delay: 1s;
}
.background-loader .loader .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 303;
  border-radius: 100%;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.background-loader .loader .spinner1 {
  width: 250px;
  height: 250px;
  border: 10px solid #FF79DA;
  animation: spin 2s linear infinite;
}
.background-loader .loader .spinner2 {
  width: 200px;
  height: 200px;
  border: 10px solid #9356DC;
  animation: reverse-spin 2s linear infinite;
}
.background-loader .loader .spinner3 {
  width: 150px;
  height: 150px;
  border: 10px solid #99E2D0;
  animation: spin 4s linear infinite;
}
.background-loader .loader .loader-text {
  position: relative;
  font-family: "Shrikhand";
  font-size: 20px;
  top: 45%;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes reverse-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes hidden {
  0% {
    transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
