main{

    .fonctionnement{
        max-width: 1440px;
        margin: auto;


        h2{
            margin-top: 50px;
            margin-left: 70px;
        }

        .content{
            display: flex;
        }

        .etapes{
            position: relative;
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            margin-top: 26px;
            width: 322.49px;
            height: 72.38px;
            background-color: #F6F6F6;
            border-radius: 20px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            
            .number{
                position: absolute;
                left: -10px;
                display: flex;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                background-color: #9356DC;
                
                p{  
                    font-size: 14.18px;
                    margin: auto;
                    color: white;
                    font-weight: 700;
                }
            }

            i{
                color: #7E7E7E;
                position: absolute;
                left: 33.47px;
            }

            &:nth-child(4){
                i{
                    color: #9356DC;
                }
            }
        }
    }

    .restaurants{
        background-color: #F6F6F6;
        max-width: 1440px;
        margin: auto;
        margin-top: 54px;
        border-radius: 25px;
        margin-bottom: 25px;
        
        h2{
            padding-top: 54px;
            margin-left: 70px;

        }

        .content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 100px;
            margin: auto;
            margin-top: 48px;
            margin-bottom: 30px;
            padding-bottom: 70px;
            


            a{
                color: black;
                
                .etablissement{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    width: 490px;
                    border-radius: 15px;
                    background-color: white;

        
                    img{
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        object-fit: cover;
                        height: 180px;
                    }

                    .new{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                    }
        
                    .desc{
                        margin-top: 16px;
                        margin-left: 13px;
                        padding-bottom: 12px;
        
                        h3{
                            font-size: 18px;
                        }
        
                        p{
                            margin-top: 5px;
                            font-size: 17px;
                        }
        
                        .like{
                            position: absolute;
                            right: 10px;
                            bottom: 15px;
                        }
                    }
                }
            }
        }
        
    }

    .carte{
        margin: auto;
        width: 375px;
        background-color: #F6F6F6;
        padding-bottom: 53px;
        position: relative;
        margin-top: -55px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;

        .titre{
            display: flex;
            justify-content: center;
            align-items: center;

            
            h1{
                margin-top: 32px;
    
                font-size: 28px;
                font-family: 'Shrikhand';
                font-weight: 400;
            }

            .like{
                margin-left: 20px;
                margin-top: 30px;
            }   
           
        }

        .titre-menu{

            h3{
                position: relative;
                font-weight: 300;
                text-transform: uppercase;
                font-weight: 300;
                margin-left: 13px;
                margin-top: 42px;
            }
    
            h3:before {
                content: "";
                position: absolute;
                width: 40px;
                height: 3px;
                bottom: -10px;
                left: 0;
                background-color: $color-tertiary;
            }
        }

        .menu{
            display: flex;
            justify-content: center;
            margin-top: 25px;

            .toggle-content{
                background-color: white;
            }
        }

        .button1{
            margin: auto;
            margin-top: 40px;
        }
    }
}

@media(max-width: 768px){
    
    .fonctionnement{
        flex-direction: column;
        width: 375px;
        margin: auto;   

        .content{
            display: flex;
            flex-direction: column;
        }
    }

    .restaurants{
        margin: auto;
        padding-bottom: 66px;
        display: flex;
        flex-direction: column;

        .content{
            display: flex;
            flex-direction: column;
            gap: 18px;
            margin: auto;
            margin-top: 18px; 
        }
    }
}

@media(max-width: 1024px){

    .fonctionnement{
        margin: auto;
        

      

        .etapes{
            width: auto;

            p{
                margin-left: 26px;
            }
        }
    }

}

@media(max-width: 1440px){

    .fonctionnement{
        margin: auto;

        .etapes{
            width: auto;

            p{
                margin-left: 26px;
            }
        }
    }
}