main{

    .fonctionnement{
        display: flex;
        max-width: 1440px;
        margin: auto;
        justify-content: center;
        margin-bottom: 50px;
        
        .content{            
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            
            .step{
                gap: 37px;
                display: flex;
            }
        }

        .etapes{
            position: relative;
            display: flex;  
            justify-content: center;
            align-items: center;
            margin-top: 26px;
            max-width: 322.49px;
            min-width: 300.49px;
            height: 72.38px;
            background-color: #F6F6F6;
            border-radius: 20px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            
            .number{
                position: absolute;
                left: -10px;
                display: flex;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                background-color: #9356DC;
                
                p{  
                    font-size: 14.18px;
                    margin: auto;
                    color: white;
                    font-weight: 700;
                }
            }

            i{
                color: #7E7E7E;
                position: absolute;
                left: 33.47px;
            }

            &:nth-child(3){
                i{
                    color: #9356DC;
                }
            }
        }
    }

    .restaurants{
        display: flex;
        margin: auto;
        justify-content: center;
        background-color: #F3F3F3;
        max-width: 1440px;
        
        .content{
            margin-top: 30px;
            margin-bottom: 50px;
            max-width: 945px;
            display: flex;
            flex-direction: column;
            
            .restau{
                margin-top: 28px;
                gap: 80px;
                display: flex;
                flex-wrap: wrap;
                
                .etablissement{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 430px;
                    border-radius: 15px;
                    background-color: white;
                    
                    a{  
                        color: black;
                        
                    }
        
                    img{
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        object-fit: cover;
                        height: 180px;
                        width: 430px;
                    }

                    .new{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                    }
        
                    .desc{
                        margin-top: 16px;
                        margin-left: 13px;
                        padding-bottom: 12px;
        
                        h3{
                            font-size: 18px;
                        }
        
                        p{
                            margin-top: 5px;
                            font-size: 17px;
                        }
        
                        .like{
                            position: absolute;
                            right: 10px;
                            bottom: 15px;
                        }
                    }
                }
            }

        }
        
    }

    .carte{
        margin: auto;
        width: 1055px;
        background-color: #F6F6F6;
        padding-bottom: 53px;
        position: relative;
        margin-top: -55px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;

        .titre{
            display: flex;
            justify-content: center;
            align-items: center;

            
            h1{
                margin-top: 32px;
    
                font-size: 28px;
                font-family: 'Shrikhand';
                font-weight: 400;
            }

            .like{
                margin-left: 20px;
                margin-top: 30px;
            }   
           
        }

        .content{
            width: 634px;
            margin: auto;
            animation: fadein 2s;

            @keyframes fadein {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
            
            .titre-menu{
    
                h3{
                    text-align: left;
                    position: relative;
                    font-weight: 300;
                    text-transform: uppercase;
                    font-weight: 300;
                    margin-top: 42px;
                }
        
                h3:before {
                    content: "";
                    position: absolute;
                    width: 40px;
                    height: 3px;
                    bottom: -10px;
                    left: 0;
                    background-color: $color-tertiary;
                }
            }
    
            .menu{
                display: flex;
                justify-content: center;
                margin-top: 25px;
                
                .toggle-content{
                    background-color: white;
                    width: 634px;
                }
            }
        }


        .button1{
            margin: auto;
            margin-top: 40px;

            &:hover{
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, $color-primary -5.2%, $color-secondary 110.74%);
                cursor: pointer;
            }
        }
    }
}

@media(max-width: 1024px){

    main{

        .fonctionnement{    
            
            .content{
    
                .step{
                    flex-direction: column;
                }
            }
        }
    
        .restaurants{
    
            .content{
                  
                .restau{
                    flex-direction: column;
                
                    a{
                        .etablissement{
                            max-width: 340px;
                        }
                    }
                    
                }
            }
        }
    
        .carte{
            width: 600px;
            
            .content{
                width: 349px;
                
                .menu{
                    
                    .toggle-content{
                        width: 349px;
                        
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
    
    main{

        .restaurants{

            .content{

                .restau{

                    .etablissement{

                        width: 330px;

                        img{
                            width: 330px;
                        }
                    }
                }
            }
        }

        .carte{
            width: auto;

            .content{
                max-width: 349px;

                .menu{

                   width: 349px;
                }
            }
        }
    }
    
}
